.header{
  background-color:#FFA500;
  height: 50px;
  top: 0;
  position: fixed;
  width: 100%;
  }
  
.emenu{
  background-color: #472A2A;
  height: 100%;
  width: 50px;
  float:left;
  margin-top: 30px;
  margin-bottom: 50px;
  position: fixed;
  }
.dmenu{
  background-color: #CDD56C;
  height: 100%;
  width: 50px;
  float: right;
  margin-top: 30px;
  margin-bottom: 50px;
  position: static;
  }
.content{
  background-color:#EEEEEE;
  height:auto;
  width:auto;
  float:left;
}  
.footer{
  background-color: #16BDCC;
  clear:both;
  text-align:center;
  height: 50px;
  bottom: 0;
  position: fixed;
  width: 100%;
}


			*
			{
				color: #444;
				font-family: Monospace;
				font-size: 12px;
			}
			
			body
			{
				margin: 0px;
				overflow: hidden;
			}
			
			select
			{
				text-transform: uppercase;
				font-size: 11px;
				text-align: center;
			}
			
			hr
			{
				border: 0;
				height: 1px;
				background-color: #ccc;
				margin: 20px 0px;
			}
			
			.gui
			{
				color: #ccc;
				width: 400px;
				background-color: #fff;
				border-bottom: 1px solid #ddd;
				padding: 5px 10px;
				text-align: center;
				text-transform: uppercase;
				line-height: 18px;
				cursor: default;
			}
			
			.button
			{
				padding: 2px;
				cursor: pointer;
			}
			
			.key
			{
				padding: 0px 8px;
				margin-left: 1px;
				background-color: #eee;
			}
            
            .disabled
            {
                color: #bbb;
            }
